@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 130px;
}

.hide-mobile {
    display: none;
}

.nav {
    position: fixed;
    width: 50%;
    height: 80%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    z-index: 3;
}

.nav li {
    border: solid 1px white;
}

.exit-btn {
    padding: 1em;
    text-align: right;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

.menu-item {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    background: rgb(52, 59, 63);
}

.menu-item:hover {
    background: rgb(93, 102, 107);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 25px;
}

.server {
    width: 70%;
    margin: 2em auto 2em 25%;
}

@media only screen and (min-width: 500px) {
    .server {
        width: 50%;
    }
}

.splash {
    position: relative;
    z-index: 2;
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 2.5em;
        margin: 0;
    }
}

.subhead {
    font-size: 1.1em;
}

@media only screen and (min-width: 500px) {
    .subhead {
        font-size: 1.5em;
        padding-bottom: 1em;
    }
}

.top-content {
    background: #00c2ff;
    color: white;
    padding: 3em 0 .8em;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 500px) {
    .top-content {
        padding-top: 1.5em;
    }
}

@media only screen and (min-width: 500px) {
    .top-content ul{
        display: flex;
    }
}

[class^="item"] {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 500px) {
    [class^="item"] {
        display: grid;
        justify-items: center;
        grid-template-rows: 50% 50%;
    }
}

[class$="icon"] {
    width: 15%;
}

@media only screen and (min-width: 500px) {
    [class$="icon"] {
        width: 20%;
    }
}

.phone-icon {
    width: 10%;
}

@media only screen and (min-width: 500px) {
    .phone-icon {
        width: 13%;
    }
}

@media only screen and (min-width: 500px) {
    [class^="statement"] {
        height: 50%;
        padding: 0 1em;
    }
}

.testimonial-content {
    background: #f5f5f5;
    padding: 4.5em 0 2em;
    margin-top: -10%;
}

@media only screen and (min-width: 500px) {
    .testimonial-content {
        display: flex;
        margin-top: -5%;
        padding: 2em 0 0;
    }
}

figure {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 500px) {
    figure {
        margin-top: 5%;
    }
}

.testimonial-1 {
    margin-bottom: 2em;
}

figcaption {
    font-weight: bold;
    color: #00c2ff;
}

.start-trial {
    padding-top: 5%;
    margin-bottom: 1em;
}

.cta {
    display: flex;
    background: #00cc80;
    color: white;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 20px;
    padding: .5em;
    position: relative;
    z-index: 1;
}

.closing {
    background: #3d444a;
    padding: 1em 0;
    border-top-right-radius: 40px;
}

.address {
    color: white;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.closing-link {
    margin: .5em;
}

.closing-link-text {
    color: #9d9d9d;
    font-size: .8em;
}