@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 130px;
}

.hide-mobile {
    display: none;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 25px;
}

.server {
    width: 70%;
    margin: 2em auto 2em 25%;
}

.splash {
    position: relative;
    z-index: 2;
}

.subhead {
    font-size: 1.1em;
}

.top-content {
    background: #00c2ff;
    color: white;
    padding: 3em 0 .8em;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    z-index: 1;
}

[class^="item"] {
    margin-bottom: 3em;
}

[class^="statement"] {
    padding: 0 .5em;
}

[class$="icon"] {
    width: 15%;
}

.phone-icon {
    width: 10%;
}

.testimonial-content {
    background: #f5f5f5;
    padding: 5em 0 2em;
    margin-top: -10%;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-weight: bold;
    color: #00c2ff;
}

.testimonial-1 {
    margin-bottom: 3em;
}

.start-trial {
    padding-top: 5%;
    margin-bottom: 1em;
}

.cta {
    display: flex;
    background: #00cc80;
    color: white;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 20px;
    padding: .5em;
    position: relative;
    z-index: 1;
}